.main-body {
	margin-top: 200;
}

html {
	background-image: url('/assets/index.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.main-score {
	font-family: verdana;
	left: 20px;
	top: 10px;
	position: absolute;
	font-size: 50px;
	margin: 0 auto;
}

.main-score .score {
	color: red;
}

.main-score .multiplier {
	color: purple;
}
.main-score .timer {
	font-size: 20px;
}

.indicator {
	width: 320px;
	margin: 0 auto;
	font-size: 30px;
	font-weight: 900;
	margin-top: 20px;
}

.loss, .win{
	opacity: 0;
}

.win.active, .loss.active {
	opacity: 1;
    animation-name: fade-in;
    animation-duration: 1.0s;
}

.loss {
	color: red;
}

.win {
	color: green;
}

.red {
	color: red;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}